<div class="poster">
    <iframe
    width="560"
    height="315"
    src="https://www.youtube-nocookie.com/embed/{{ key }}?privacy_mode=1"
    title="YouTube video player"
    frameborder="0"
    referrerpolicy="strict-origin-when-cross-origin"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <script>
    console.log("Trailer keys {{ key }}")
  </script>
</div>
