/* load reset css */
@import 'reset.css';
@import "typography.css";

@import 'poster.css';
@import "detail.css";

:root {
  --white: #fff;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.grid-trailers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

iframe {
  width: 430px;
  height: 250px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: end;
}

.logo {
  width: 4em;
}

form input {
  background-color: var(--white);
  border-radius: 50px;
  height: 40px;
  width: 15em;
  border: 0px;
  padding: 0.4em 3em 0.4em 1em;
  font-size: 1em;
}

::placeholder {
  color: #FF908B;
  opacity: 1; /* Firefox */
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  position: absolute;
  right: 1em;
}

input:-internal-autofill-selected {
  background-color: var(--white);
}