/* load reset css */
@import 'reset.css';
@import "typography.css";

@import 'poster.css';
@import "detail.css";

body {
  background-color: #1a1a1a;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: end;
}

.logo {
  width: 6em;
}


