/* load reset css */
@import 'reset.css';
@import "typography.css";

@import 'poster.css';
@import "detail.css";

:root {
  --white: #fff;
  --rose: #FF908B;
}

body {
  background-color: #1a1a1a;
  color: #fff;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding: 1em;
  padding-bottom: 10em;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: var(--rose);
  margin: 1em 0em .4em 0em;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: var(--rose);
  margin: 1em 0em .4em 0em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.grid-trailers {
  position: relative;
  height: 1100px;
  display: flex;
  flex-direction: column-reverse;
}

.grid-trailers li:nth-child(1) {
  position: absolute;
  top: 0;
  width: 100%;
}

.grid-trailers li:nth-child(1) iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.scroll-trailers {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 16px;
  overflow-x: auto;
  padding-bottom: 1em;
}

.scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  column-gap: 1em;
}

.scroll li {
  min-width: 200px;
}

iframe {
  width: 430px;
  height: 250px;
}

section.theater {
  margin-top: 2em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: end;
}

.logo {
  width: 4em;
}

form input {
  background-color: var(--white);
  border-radius: 50px;
  height: 40px;
  width: 15em;
  border: 0px;
  padding: 0.4em 3em 0.4em 1em;
  font-size: 1em;
}

.movie__container iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

::placeholder {
  color: var(--rose);
  opacity: 1; /* Firefox */
}

.search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  position: absolute;
  right: 1em;
}

.button {
  background: var(--rose);
  border: none;
  padding: .4em 1em;
  border-radius: 20px;
  font-size: 1em;
  margin-top: 1em;
  color: var(--white);
  cursor: pointer;
}

input:-internal-autofill-selected {
  background-color: var(--white);
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rose); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


.poster {
  position: relative;
}

.poster img {
  width: 100%;
  margin-bottom: 10px;
  min-height: 300px;
}

.poster__title {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255 144 139 / 50%);
  padding: 10px;
  text-align: center;
}

